<li class="tweet" data-id="<%= data.tweet.id_str %>">
    <img src="<%= data.details.user.profile_image_url %>" class="twitter-icon">
    
    <div class="content">
        <div class="hd">
            <div class="source">
                <%== data._t["tweet-name"](data.details.user) %>
            </div>
            
            <div class="time">
                <%= data.date %>
            </div>
        </div>
        
        <p class="text">
            <%== data.html %>
        </p>
        
        <div class="actions">
            <% if(data.tweet.retweeted_status) { %>
            <p class="retweeted">
                Retweeted by
                <%== data._t["tweet-name"](data.tweet.user) %>
            </p>
            <% } %>
            <button class="retweet icon-retweet link" <% if(data.details.retweeted) { %>disabled<% } %>>Retweet</button>
        </div>
    </div>
</li>
