<li class="tweet" data-id="<%= data.id_str %>">
    <div class="icon">
        <img src="<%= data.user.profile_image_url %>" >
    </div>
    
    <div class="content">
        <div class="hd">
            <p class="name">
                <%= data.user.name %>
                <span class="screen-name">@<%= data.user.screen_name %></span>
            </p>
            
            <p class="time">
                <%= data.date %>
            </p>
        </div>
        
        <p class="text">
            <%== data.html %>
        </p>
        
        <div class="actions">
            <button class="retweet icon-retweet">Retweet</button>
        </div>
    </div>
</li>
