<div class="tweet" data-id="<%= data.id_str %>">
    <img class="icon" src="<%= data.user.profile_image_url %>" >
    
    <div class="bd">
        <p class="name">
            <%= data.user.name %>
            <span class="screen-name">@<%= data.user.screen_name %></span>
        </p>
        <p class="text">
            <%== data.text %>
        </p>
        <div class="meta">
            <p class="">
        </div>
    </div>
    
    <div class="time">
        <p>
            <%= data.created_at %>
        </p>
    </div>
</div>
