<li class="tweet" data-id="<%= data.id_str %>">
    <img src="<%= data.user.profile_image_url %>" class="icon">
    
    <div class="content">
        <div class="hd">
            <div class="name">
                <%= data.user.name %>
                <span class="screen-name">@<%= data.user.screen_name %></span>
            </div>
            
            <div class="time">
                <%= data.date %>
            </div>
        </div>
        
        <p class="text">
            <%== data.html %>
        </p>
        
        <div class="actions">
            <button class="retweet icon-retweet link" <% if(data.retweeted) { %>disabled<% } %>>Retweet</button>
        </div>
    </div>
</li>
